src/vendor/*
include/vendor/*
build/
.build/
build-mingw/
subprojects/raylib/
subprojects/libunuv/
subprojects/libarchive-3.7.7/
subprojects/zstd-1.5.6/
subprojects/libuv-v1.49.1/
subprojects/mman-win32/
subprojects/wolfssl/
subprojects/packagecache/
subprojects/lua-5.4.6/
.cache/
