.clangd
src/vendor/*
!src/vendor/.gitkeep
include/vendor/*
!include/vendor/.gitkeep
build/
repo/
.flatpak-builder
.build/
subprojects/raylib/
subprojects/sqlite-amalgamation-3510200/
subprojects/libavif/
subprojects/libjxl/
subprojects/packagecache/
.cache/
CMakeSettings.json
.vs/
