[Desktop Entry]
Version=1.3
Type=Application

Name=OpenPNGStudio
Comment=Create & stream PNGTuber models
Categories=Graphics;2DGraphics;

Icon=openpngstudio
Exec=OpenPNGStudio
Terminal=false
